# This configuration is for {{ ansible_facts['nodename'] }}

upstream webservers {
    
    # server 192.168.56.102:8000;
    # server 192.168.56.103:8000;

    # server web01:8000;
    # server web02:8000;

    # server {{ hostvars['web01']['ansible_facts']['nodename'] }}:8000;
    # server {{ hostvars['web02']['ansible_facts']['nodename'] }}:8000;

    {% for host in groups['webservers'] %}
        # server {{ hostvars[host]['ansible_facts']['nodename'] }}:8000;
        server {{ hostvars[host]['ansible_facts']['nodename'] }}:{{ http_port }};
    {% endfor %}

}

server {
    listen 80;

    location / {
        proxy_pass http://webservers;
    }
}